<div class="nav">
  <a href="/" class="btn btn-primary" data-toggle="tooltip" placement="auto" title="Home">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" placement="auto" title="Previous">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-primary"  data-toggle="tooltip" placement="auto" title="Next">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  </button>
  <span data-toggle="tooltip" placement="auto" title="Random">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
      <i class="fa fa-random" aria-hidden="true"></i>
  </button>
</span>
</div>
