<div class="nav">
  <a href="/" class="btn btn-primary">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <button id="previous" type="button" class="btn btn-primary">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  <button id="next" type="button" class="btn btn-primary">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  </button>
  <button id="random" type="button" class="btn btn-primary">
      <i class="fa fa-random" aria-hidden="true"></i>
  </button>
  <progress value="70" max="100" id="progress"></progress>
</div>
