.nav {
  position: absolute;
  z-index: 1000;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $brand-primary;
  color: white;
  align-items: center;
}

progress {
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  border: none;
  top: 0px;
  left: 75px;
  width: 100vh;
  height: 5px;
  transform-origin: top left;
  transform: rotate(90deg);
}
progress::-webkit-progress-bar {
  background-color: rgba(255,255,255,0.7);
}
progress::-webkit-progress-value {
  transition: width 0.3s ease;
  background-color: $brand-primary;
}
progress::-moz-progress-bar {
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  background-color: $brand-primary;
}

@media (max-width: 768px) {
  progress {
    bottom: 70px;
    left: 0px;
    width: 100vw;
    transform-origin: none;
    transform: none;
  }
}

@media (max-width: 768px) {
  .nav {
    top: auto;
    bottom: 0px;
    height: 70px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;

  }
}
