<!doctype html>
<html>
  <head>
    <base href="<%= config.base_url %>" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Dorian Somers - Portfolio - Master of none</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <%= stylesheet_link_tag "bundle" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
