.show-project {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  .medias {
    height: 100%;
    flex-grow: 0;
    flex-basis: 40%;
  }
  .info {
    flex-grow: 1;
    max-height: 100%;
    padding: 60px;
    text-align: left;
    overflow-y: scroll;
  }
}


.tags > li {
  font-family: $body-font-secondary;
}

ul.list-inline {
  list-style-type: none;
  li {
    display: inline-block;
  }
}
