.show-project {
  height: 100%;
  display: flex;
  align-items: center;
  .medias {
    flex-basis: 40%;
  }
  > .image {
    flex-basis: 40%;
  }
  .info {
    flex-grow: 1;
    padding: 60px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .show-project {
    flex-direction: column-reverse;
    .info {
      margin-top: 70px;
      padding: 0px;
    }
    > .medias {
      min-height: 300px;
      width: 100%;
    }
  }
  .image {
    min-height: 300px;
    width: 100%;
  }
}
.tags > li {
  font-family: $body-font-secondary;
}

ul.list-inline {
  list-style-type: none;
  li {
    display: inline-block;
  }
}
