// Import Google fonts
 @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Define fonts for body and headers
$body-font: "Arial", sans-serif;
$body-font-secondary: "Menlo", monospace;
$headers-font: "Arial", sans-serif;
$headers-font-secondary: 'Kaushan Script', cursive;
$font-size: 1rem;
