<div class="reveal">
  <div class="slides">
    <section id="home">
    </section>
    <% data.projects.each do |project| %>
    <%= partial('layouts/project', locals: project) %>
    <% end %>
  </div>
</div>
