<%= partial('components/nav') %>

<div class="slides">
  <section id="slide-0">
    <div class="container text-center h-100 d-flex align-items-center flex-column justify-content-center">
      <h1 class="fragment fade-up" id=jack>
        Jack of all trades
      </H1>
      <h1 class="master">
        Master of none
      </H1>
      <h2 class="monospace">#portfolio #skills</h2>
      <div class="help">
        <%= inline_svg('keys', class: 'keys')%>
        <span>or</span>
        <%= inline_svg('mouse', class: 'mouse')%>
      </div>

    </div>
  </section>

  <% data.projects.each_with_index do |project, index| %>
  <%= partial('layouts/project', locals: { project: project, index: index }) %>
  <% end %>
</div>
