<div class="reveal">
  <div class="slides">
    <!-- <section id="home">
        <h1 class="fragment fade-up" id=jack>
          Jack of all trades
        </H1>
        <h1 class="master">
          Master of none
        </H1>
        <h2 class="monospace">#portfolio #skills</h2>
    </section> -->

    <% data.projects.each do |project| %>
      <%= partial('layouts/project', locals: project) %>
    <% end %>
  </div>
</div>
